# Local packages
.DS_Store
node_modules
dist
venv

# Temp files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
__pycache__/
*.pyc
*.pyo
build
api/storage

# Editor directories and files
.env
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.lock
